
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
    }

    #header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: #f0f0f0;
      font-size: 2rem;
      color: rgb(30, 147, 88);
    }

    .wrapper {
      display: flex;
      width: 100%;
    }

    .main {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 20px;
    }

    .product-box {
      width: calc(33.33% - 30px);
      background-color: rgb(219, 234, 228);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .product-box img {
      border-radius: 10px;
      height: 25vh;
      width: 50%;
      margin: 10px;
    }

    .product-box h3,
    .product-box p,
    .product-box h2 {
      margin-top: 10px;
      color: rgba(9, 112, 61, 0.886);
      cursor: pointer;
    }

    .product-box button {
      margin-top: 15px;
      color: aliceblue;
      font-weight: bold;
      background-color: rgb(30, 147, 88);
      border: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    .cart-box {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100vh;
      background-color: rgb(240, 248, 243);
      padding: 20px;
      box-sizing: border-box;
      overflow-y: auto;
      position: sticky;
      top: 0;
    }

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 15px;
    }

    .cart-box img {
      height: 80px;
      width: 80px;
      object-fit: contain;
    }

    .cart-details {
      flex-grow: 1;
      margin-left: 10px;
    }

    .remove-btn button {
      border: none;
      color: white;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: rgb(244, 40, 40);
      font-size: 12px;
      cursor: pointer;
    }

    .quantity {
      font-size: 14px;
      margin-top: 5px;
      color: #333;
    }
  